* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    display: block;
    width: 100%;
    max-width: 80px;
    height: 120px;
    margin: 0 auto;
}

.text {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    width: 100%;
    max-width: 900px;
    font-size: 25px;
    line-height: 1.5em;
    color: #6D6D6D;
    padding: 100px 0;
    margin: 0 auto;
}

.button-down {
    margin: 0 auto;
    max-width: 900px;
}

.button-down img{
    display: block;
    width: 100%;
    max-width: 35px;
    height: 35px;
    margin: 0 auto;
}
.space-1 {
    padding: 10em;
}

.container-mobile {
    display: none;
}

.mini-container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.container {
    font-family: "Varela Round", sans-serif;
}

.container img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 380px;
    border-radius: 0.5em;
}

.topleft {
    position: absolute;
    font-size: 3vw;
    top: -3.3vw;
    left: 1vw;
}

.space-2 {
    padding: 1em;
}

.crd-1 {
    background-color: teal;
}

.crd-2 {
    background-color:skyblue;
}

.crd-3 {
    background-color:slateblue
}

.crd-4 {
    background-color: slategrey;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}


.container-1 {
    font-family: "Varela Round", sans-serif;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cards-space {
    display: flex;
}

.container-2 {
    font-family: "Varela Round", sans-serif;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.contacts {
    width: 50%;
    height: 450px;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
}

.contacts img {
    width: 35px;
    height: 35px;
}

.my-image {
    background-color:rgb(206, 166, 243);
    width: 50%;
    height: 450px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-image img {
    width: 100%;
    width: 500px;
    height: 450px;
    
}

.mini-container-2 {
    display: flex;
}

.email {
    font-size: 4vw;
    
}

.underline {
    font-size: 150px;
    line-height: 0;
}

.container-2 a {
    color: transparent;
}

@media screen and (max-width: 900px) and (min-width: 200px) {
    .nav {
        width: 100%;
    }

    .text {
        padding: 50px 40px;
        text-align: justify;
        line-height: 1.7;
    }

    .container {
        display: none;
    }

    .container-mobile {
        display: block;
        font-family: "Varela Round", sans-serif;
    }

    .container-mobile img {
        display: block;
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        height: 90%;
        max-height: 500px;
        border-radius: 15px;
    }

    .mini-container-mobile {
        position: relative;
    }

    .topleft {
        font-size: 10vw;
        top: -16.3vw;
        left: 1vw;
    }

    .cards-space {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .card {
        width: 350px;
        height: 350px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .mini-container-2 {
        display: flex;
        flex-direction: column;
    }

    .contacts, .my-image {
        width: 80%;
        margin: 0 auto;
    }

    .contacts {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .my-image {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .my-image img {
        width: 100%;
        width: 950vw;
        max-width: 312.30px;
        height: 95vw;
        max-height: 312.30px;
    }

    .email {
        font-size: 40px;
    }
}

@media screen and (min-width: 1900px) {
    .email {
        font-size: 65px
    }
}